/*
    Document   : application-css
    Created on : 19 oct. 2012, 15:06:31
    Author     : michael mercier
    Description:
        tests
*/

/******************************************************************************/
/**     COMMON                                                                */
/******************************************************************************/

root {
    display: block;
}

.selected{
    color: #d3711f;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;
    text-align: center;
    margin: 20px auto;
    background-image: url('../Pictures/fond.png');
    background-repeat: repeat-x;
    /*box-shadow: 1px 1px 12px #555;*/
    -moz-box-shadow: 1px 1px 12px #555;
    -webkit-box-shadow: 1px 1px 12px #555;
    -o-box-shadow: 1px 1px 12px #555;
    box-shadow: 1px 1px 12px #555;


}

#main {
    background: #eee;
    min-height: 640px;
}

a{
    color: black;
}

/******************************************************************************/
/**     HEADER                                                                */
/******************************************************************************/

#header {
    height: 150px;
    background: #404141;
}

#header a{
    color: white;
}

#logo{
    min-width: 650px;
    margin-top: -50px;
}

#logoText {
    margin-left: 20px;
    margin-right: 20px;
    /* font styles apply to text within alt tags */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: dodgerblue;
    line-height: 150px;
    vertical-align: top;
}

#widgetBar {
    height: 50px;
    background: #404141;
}

.headerWidget {
    width: 194px;
    margin: 20px 2px;
    font-size: small;
    float: right;
    line-height: 1.5em;
    background: #404141;
    color: white;
}

.headerWidget a:hover {
    background: dodgerblue;
    border-radius: 5px;
}

.headerWidgetC {
    width: 125px;
    margin: 92px -197px;
    font-size: small;
    float: right;
    line-height: 1.5em;
    background: #404141;
    color: white;
}

/******************************************************************************/
/**     MENU                                                                */
/******************************************************************************/


#menu{
    height: 45px;
/*    width: 1024px;*/
    /*background-color: dodgerblue;*/
    background-image: linear-gradient(top, rgb(64,65,65) 8%, rgb(30,143,255) 71%);
background-image: -o-linear-gradient(top, rgb(64,65,65) 8%, rgb(30,143,255) 71%);
background-image: -moz-linear-gradient(top, rgb(64,65,65) 8%, rgb(30,143,255) 71%);
background-image: -webkit-linear-gradient(top, rgb(64,65,65) 8%, rgb(30,143,255) 71%);
background-image: -ms-linear-gradient(top, rgb(64,65,65) 8%, rgb(30,143,255) 71%);

background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.08, rgb(64,65,65)),
	color-stop(0.71, rgb(30,143,255))
);

    margin-top: -20px;
    line-height: 45px;
}

#menu li {
    display: inline;
    width: 150px;
    float: left;
    text-decoration: none;
}
#menu li:hover{

    background: dodgerblue;
    border-radius: 5px;
/*    background: linear-gradient(to bottom, #404141 0%,dodgerblue 100%);*/
}

#menu li.selected {
    background: #1F7DD3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

#menu ul{
    vertical-align: central;
}

#menu a{
    color: white;
}

/******************************************************************************/
/**     LEFT COLUMN                                                                */
/******************************************************************************/

#indexLeftColumn {
    min-height: 496px;
    width: 240px;
    float: left;
    border: 1px solid #404141;
}

#indexLeftColumn table{
    text-align: left;
    padding-left: 20px;
}

#indexLeftColumn a {
    color: #1E90FF;
}

#indexLeftColumn a.selected {
    color: red;
}

#titleCategorie{
    font-family:  Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

/******************************************************************************/
/**     RIGHT COLUMN                                                             */
/******************************************************************************/


#indexRightColumn {
    min-height: 500px;
    width: 782px;
    float: right;
    border-top: 1px solid #404141;
}

.searchBar{
    color: white;
    background-color: #404141;
    text-align: left;
    padding: 5px;
    margin-left: 33%;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 8px;
}
.searchBar form{
    display: inline;
}

.searchTextInput{
    background: white;
    width: 220px;
    padding: 4px;
    display: inline;
    border-radius: 10px;
}

.searchTextInput input[type="text"]
{
    background: transparent;
    border: 0 none;
    margin: 0;
    width: 180px;
}

/*.searchTextInput input[type="submit"]
{
    background: url('../Pictures/magnifyingGlass.png') no-repeat scroll right center transparent;
    border: 0 none;
    margin-right: 2px;

}*/

.sortByBar{
    margin-left: 3%;
    color: white;
}

.sortByBar select{
/*    height: 20px;
    width: 120px;*/
    background-color: white;
    border: 0 none;
    border-radius: 6px;
}

#submitSearch{
   background-color: white;
    border: 1px solid black;
    border-radius: 11px;
    cursor: pointer;
    margin-left: 2%;
}
.categoryBox {
    height: 175px;
    width: 260px;
    margin: 20px 50px 6px;
    float: left;
    background: #404141;
    border-radius: 10px;
    color: white;
        padding: 15px;


}

.categoryBox .TitleApp{
    color: dodgerblue;
}

.categoryBox .descriApp{
    color:white;
    margin-top: -18px;
    text-align: justify;
    font-size: small;
}

.categoryBox .ImgApp{
    margin-top: -5px;
}

.categoryBox .priceApp{
    color: white;
    margin-top: 3px;
}

.categoryBox .buttonGetIT{
    margin-top: 0px;
}

.categoryLabelText {
    line-height: 150%;
    font-size: x-large;
    color: #00F639;
}



a:link {
    text-decoration: none;
}

.categoryMiniBox {
    height: 150px;
    width: 200px;
    margin: 20px 14px 6px;
    padding: 4px;
    float: left;
    background: white;
    border-radius: 10px;
    border:1px solid #404141;
}

.rightMiniBox{
    float: left;
    width: 77%;
    height: 32%;
    margin-top: 2%;
}

.TitleApp{
    font-weight: bold;
}

.CategoryApp{
    color: #aaa;
}
.ImgApp{
    float: left;
    width: 23%;
    height: 32%;
    margin-top: 2%;
}

.descriApp{
    float: left;
    height: 36%;
    overflow: hidden;
    margin-top: 4%;
}

.bottomMiniBox{
    float: left;
    margin-top: 3%;
    width: 100%;
    height: 20%;
}

.priceApp{
    float: left;
    margin-left: 30%;
}

.buttonGetIT{
    margin-left: 2%;
    float: left;
    margin-top: -2%;

}

.buttonGetIT input{
   background-color: dodgerblue;
    border: 1px solid #335F8A;
    border-radius: 11px;
    cursor: pointer;
    color: white;
}

.button {
    padding: 2px;
    background-color: dodgerblue;
    border: 1px solid #335F8A;
    border-radius: 11px;
    cursor: pointer;
    color: white;
    margin-left: 2%;
    float: left;
}



/******************************************************************************/
/*    CONNECTION AND INSCRIPTION                                                                   */
/******************************************************************************/
#connection {margin: 0 auto;background:#999999;border: 3px solid black;padding:15px;border-radius: 10px;}
#connection tr {height:45px; }
#connection input {background:white;border: 1px solid black;color:black;padding:5px;}
#errorMessage {color:Red;border: 2px solid black;background:white;display:inline-block;padding:10px;margin-bottom:10px;}
#successMessage {margin:10px;}
.button_connexion{
    background-color: dodgerblue;
    border: 1px solid black;
    border-radius: 11px;
    cursor: pointer;}



/******************************************************************************/
/*    CART                                                                    */
/******************************************************************************/
.CartPage{
    text-align: left;
}

.CartPage h1{
    margin-left: 13%;
}

.cartTable{
    width: 75%;
    margin:0 auto;
    text-align: center;
    clear: both;
}

.cartTable th{
    background-color: #919292;
    color: white;
}

.lightBlue {
    background-color: dodgerblue;
}
.thApplication{
    text-align: left;
}

.nameImageAppTab{
    text-align: left;
}

.nameImageAppTab span{
    line-height: 3em;
}

.searchBarCart{
    background-color: #404141;
    width: 30%;
    height: 30px;
    float: left;
    border-radius: 3px;
}

.titleSearchCart{
    float: left;
    margin-left: 2%;
    line-height: 30px;
    color: white;
}
.fieldSearchCart input{
    float: left;
    margin-left: 2%;
    margin-top: 1.5%;
    border-radius: 5px;
}

.titleCart{
    float: left;
    width: 70%;
}

.buttonContinueShopping{
    float: left;
    margin-top: 4%;
    margin-left: 60%;
}

.buttonProceedCheckoutg{
    float: left;
    margin-top: 4%;
}

.clear{
    clear: both;
}

/******************************************************************************/
/**     PURCHASE                                                              */
/******************************************************************************/

#form_container
{
	background:#fff;

	margin:0 auto;
	text-align:left;
	width:640px;
}

form ul
{
	font-size:100%;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}

form li
{
	display:block;
	margin-bottom: 5px;
	padding:4px 5px 2px 9px;
	position:relative;
}

form li div
{
	display:inline-block;
}

form li div label
{
	clear:both;
	color:#444;
	display:block;
	font-size:9px;
	line-height:9px;
	margin:0;
	padding-top:3px;
}

label.description
{
	border:none;
	color:#222;
	display:block;
	font-size:95%;
	font-weight:700;
	line-height:150%;
	padding:0 0 1px;
}

span.symbol
{
	font-size:115%;
	line-height:130%;
}

input.text
{
	border-bottom:1px solid #ddd;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	color:#333;
	font-size:100%;
	margin:0;
	padding:2px 0;
}



/******************************************************************************/
/**     Onglets Post_an_application                                                             */
/******************************************************************************/
.onglets{
    width: 330px;
    margin-left: 5%;
}

.onglet
{
        margin-top: 30px;
        display:inline-block;
        margin-left:3px;
        margin-right:3px;
        padding:3px;
        border:1px solid black;
        border-top-left-radius:4px;
        border-top-right-radius:4px;
}

.onglet a
{
        color:#000000;
        text-decoration:none;
}
.contenu
{
        min-height: 240px;
        background-color:#dddddd;
        border:1px solid black;
        margin-top:-1px;
        margin-left: 2%;
        margin-right: 2%;
        padding:5px;
        border-radius: 5px;
        text-align: left;
}

.onglet_n
{
        background:#bbbbbb;
        border-bottom:1px solid black;
}
.onglet_y
{
        background:#dddddd;
        border-bottom:0px solid black;
        padding-bottom:4px;
}

/******************************************************************************/
/**    Post_an_application                                                             */
/******************************************************************************/

.labelTd{
    width: 100px;
    height: 35px;
}

.labelFileTd{
    width: 60px;
    height: 35px;
}

.fieldTd{
    width: 250px;
    height: 35px;
}

#submitPostApp{
    margin-left: 300px;
    width: 70px;
    height: 25px;
     background-color: dodgerblue;
    border: 1px solid #335F8A;
    border-radius: 11px;
    cursor: pointer;
    color: white;
}

.contenu input {
    border: none;
}

.contenu textarea{
    border: none;
}

/******************************************************************************/
/**   InfoApplication                                                         */
/******************************************************************************/

.pictureApp{
    float: left;
    margin-left: 10%;
    margin-top: 8%;
}

.titleApp{
    float: left;
    margin-left: 5%;
    margin-top: 6%;
    color: dodgerblue;
    font-weight: bold;
    font-size: larger;

}

.descInfoApp{
    float: left;
    margin-left: 27%;
    margin-top: -92px;
    margin-right: 14%;
    text-align: justify;
    min-width: 500px;
    min-height: 80px;
}

.priceInfoApp{
    float: left;
    margin-left: 16%;
}

.buttonGetITInfoApp{
    float: left;
    margin-left: 28%;
    margin-top: 4%;
}

.buttonGetITInfoApp input{
    background-color: dodgerblue;
    border: 1px solid #335F8A;
    border-radius: 11px;
    cursor: pointer;
    color: white;
}
.buttonDownloadITInfoApp{
    float: left;
    margin-left: 2%;
    margin-top: 4%;
}

.buttonDownloadITInfoApp input{
    background-color: dodgerblue;
    border: 1px solid #335F8A;
    border-radius: 11px;
    cursor: pointer;
    color: white;
}